@model KatShop.Models.Product

@{
    ViewData["Title"] = "Thêm sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<st
<div class="content">
    <!-- Start Content-->
    <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>

                            <li class="breadcrumb-item active">@ViewData["Title"]</li>
                        </ol>
                    </div>
                    <h2 class="page-title">@ViewData["Title"]</h2>
                </div>
            </div>
        </div>
        <!-- end page title -->
        <hr/>
        <div class="container container-table">
    <div class="row vertical-center-row">
        <form asp-controller="Product" asp-action="Create" method="post" enctype="multipart/form-data" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="mb-3 col-md-12">
                <label asp-for="ProductName" class="form-label">Tên sản phẩm :</label>
                <input type="text" id="simpleinput" class="form-control" asp-for="ProductName" required>
            </div>

            <div class="row col-md-12">
                <div class="col-md-6">
                    <label asp-for="Price" class="form-label">Giá bán :</label>
                    <input type="number" class="form-control" asp-for="Price" required>
                </div>
                <div class="col-md-6">
                    <label asp-for="Discount" class="form-label">Giá giảm :</label>
                    <input class="form-control" type="number" asp-for="Discount">
                </div>
            </div>

            <div class="row col-md-12">
                <div class="col-md-6">
                    <label asp-for="CatId" class="form-label">Danh mục sản phẩm :</label>
                    <select class="form-select" asp-for="CatId" asp-items="ViewBag.DanhMuc" required>
                        <option value="" disabled selected>Chọn danh mục</option>

                    </select>
                </div>

                <div class="col-md-6">
                    <label asp-for="UnitslnStock" class="form-label">Số lượng sản phẩm :</label>
                    <input type="number" id="simpleinput" class="form-control" asp-for="UnitslnStock" required>
                </div>
            </div>
           
    
            <!--placeholder-->
            <div class="mb-3 col-md-12">
                <label asp-for="ShortDesc" class="form-label">Mô tả ngắn :</label>
                <textarea rows="5" class="form-control" asp-for="ShortDesc" required></textarea>
            </div>

           @* <div class="mb-3 col-md-8">
                <div id="snow-editor" style="height: 300px;">
               
                </div>
            </div>*@
            <div class="mb-3 col-md-12">
                <label asp-for="Description" class="form-label">Mô tả :</label>
                <textarea class="form-control summernote"  rows="5" asp-for="Description" required></textarea>
            </div>

            <div class="mb-3 col-md-12">
                <label asp-for="Thumb" class="form-label">Ảnh sản phẩm :</label>
                <input type="file" name="fThumb" class="form-control" asp-for="Thumb" required>
                <span asp-validation-for="Thumb" class="text-danger"></span>
            </div>
           
            <div class="mb-3 col-md-12">
                <label asp-for="Thumb" class="form-label">Ảnh mô tả sản phẩm :</label>
                <input type="file" name="fThumb1" class="form-control" asp-for="Thumb1"><br />
                <input type="file" name="fThumb2" class="form-control" asp-for="Thumb2"><br />
                <input type="file" name="fThumb3" class="form-control" asp-for="Thumb3">
                <span asp-validation-for="Thumb" class="text-danger"></span>
            </div>

            <div class="mb-3 col-md-12">
                <label asp-for="Title" class="form-label">Title :</label>
                <input type="text"  class="form-control" asp-for="Title" required>
            </div>

            <div class="mb-3 col-md-12">
                <label asp-for="Alias" class="form-label">Alias :</label>
                <input type="text"  class="form-control" asp-for="Alias" required>
            </div>

            <div class="mb-3 col-md-12">
                <label asp-for="MetaDesc" class="form-label">MetaDesc :</label>
                <input type="text"  class="form-control" asp-for="MetaDesc" required>
            </div>

            <div class="mb-3 col-md-12">
                <label asp-for="MetaKey" class="form-label">MetaKey :</label>
                <input type="text"  class="form-control" asp-for="MetaKey" required>
            </div>

            <div class="mb-3 col-md-12">
                <label asp-for="Tags" class="form-label">Tags :</label>
                <input type="text"  class="form-control" asp-for="Tags" required>
            </div>

            <div class="mb-3 col-md-12">
                <label asp-for="Video" class="form-label">Video :</label>
                <input type="text"  class="form-control" asp-for="Video">
            </div>

            <div class="mb-3 col-md-12">
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" asp-for="HomeFlag">
                    <label class="form-check-label" asp-for="HomeFlag">HomeFlag</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" asp-for="Active">
                    <label class="form-check-label" asp-for="Active">Trạng thái</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" asp-for="BestSaller">
                    <label class="form-check-label" asp-for="BestSaller">BestSaller</label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo" class="btn btn-primary" />
                <a class="btn btn-dark" asp-area="Admin" asp-controller="Product" asp-action="Index">Quay lại</a>
            </div>
        </form>
    </div>
</div>
</div>
</div>


@section Scripts{

    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.1/jquery.validate.min.js"></script>
    <link href="~/summernote/summernote-lite.css" rel="stylesheet" />
    <link href="~/summernote/summernote-lite.min.css" rel="stylesheet" />
    <script src="~/summernote/summernote-lite.js"></script>
    <script src="~/summernote/summernote-lite.min.js"></script>
        <!-- plugin js -->
    <script src="~/admin_assets/js/vendor/dropzone.min.js"></script>
    <!-- init js -->
        <script src="~/admin_assets/js/ui/component.fileupload.js"></script>
    @*<a href="~/summernote/summernote-lite.js.map">~/summernote/summernote-lite.js.map</a>
	<a href="~/summernote/summernote-lite.min.js.map">~/summernote/summernote-lite.min.js.map</a>*@
    <script>
        jQuery(document).ready(function () {
            $('.summernote').summernote({
                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New'],
                styleTags: ['p', 'h1', 'h2', 'h3', 'h4', 'h5'],
                height: 200,
                minHeight: null,
                maxHeight: null,
                focus: true
            });
        });
    </script>
}
