@model KatShop.Models.Product

@{
    ViewData["Title"] = "Xóa sản phẩm :" + Model.ProductName;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>


<div>
    <hr />
  
  
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Quay lại</a>
    </form>
</div>
