
@model KatShop.Models.Post

@{
   
}
<!-- Modal delete product-->
<div class="modal fade" id="deletePost-@Model.PostId" tabindex="-1" aria-labelledby="deletePostLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <form asp-controller="Product" asp-action="Delete" asp-route-id="@Model.PostId">               
                <div class="modal-header modal-colored-header bg-danger">
                    <h5 class="modal-title" id="deletePostLabel">Xóa bài đăng</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" asp-for="PostId" />                  
                    <h4>Bạn có chắc chắn xóa bài : @Model.Title</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <input type="submit" class="btn btn-danger" value="Xóa" />
                </div>
            </form>
        </div>
    </div>
</div>

