@model KatShop.Models.Customer

<!-- Modal delete product-->
<div class="modal fade" id="deleteCustomer-@Model.CusId" tabindex="-1" aria-labelledby="deleteCustomerLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <form asp-controller="Customer" asp-action="Delete" asp-route-id="@Model.CusId">
                <div class="modal-header modal-colored-header bg-danger">
                    <h5 class="modal-title" id="deleteCategorytLabel">Xóa khách hàng</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" asp-for="CusId" />
                    <h4>Bạn có chắc chắn xóa khách hàng : @Model.FullName</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <input type="submit" class="btn btn-danger" value="Xóa" />
                </div>
            </form>
        </div>
    </div>
</div>