<!DOCTYPE html>
<html lang="en">
<head>
	<title>@ViewData["Title"] - KAT </title>
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
	<link href="https://tuidathat.vn/wp-content/uploads/2021/09/kat.logo_.f.png" rel="shortcut icon">
	<link href="https://tuidathat.vn/wp-content/uploads/2021/09/kat.logo_.f.png" rel="apple-touch-icon-precomposed">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Kat Shop">
<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="~/assets/styles/bootstrap4/bootstrap.min.css">
	<link href="~/assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="~/assets/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
	<link rel="stylesheet" type="text/css" href="~/assets/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
	<link rel="stylesheet" type="text/css" href="~/assets/plugins/OwlCarousel2-2.2.1/animate.css">
	<link rel="stylesheet" href="~/assets/plugins/themify-icons/themify-icons.css">
	<link rel="stylesheet" type="text/css" href="~/assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link href="~/assets/styles/main_styles.css" rel="stylesheet" />
	<link href="~/assets/styles/responsive.css" rel="stylesheet" />

	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=vietnamese" rel="stylesheet">
	<style>
		*{
			font-family:Roboto;
		}

		/* Required Menu CSS */
		.js-menu__context {
			background: rgba(0,0,0, 0.5);
			left: 0;
			opacity: 0;
			position: fixed;
			top: 0;
			transition: opacity 0.5s, visibility 0.5s;
			visibility: hidden;
			width: 100%;
			height: 100%;
			z-index: 40000;
		}

		.js-menu {
			color: #000;
			position: absolute;
			height: 100%;
			width: 450px;
			max-width: 85vw;
			padding: 12px;
			margin: 0;
			background: #fff;
			z-index: 99;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			-ms-overflow-style: -ms-autohiding-scrollbar;
			transition: background 0.5s, transform 0.5s;
		}

		.js-menu--left {
			-webkit-transform: translateX(-100%);
			transform: translateX(-100%);
		}

		.js-menu--right {
			-webkit-transform: translateX(100%);
			transform: translateX(100%);
			position: absolute;
			right: 0;
		}

		.js-menu__open {
			cursor: pointer;
		}

		.js-menu__close {
			cursor: pointer;
		}

		.js-menu__expanded {
			-webkit-transform: translateX(0);
			transform: translateX(0);
			visibility: visible;
			opacity: 1;
		}

	</style>
</head>

<body>

<div class="super_container">

	<!-- Header -->

	

			@await Html.PartialAsync("_HeaderPartialView")

	


		<main role="main" class="pb-1">
			@RenderBody()
		</main>

		<!-- Footer -->
		@await Html.PartialAsync("_FooterPartialView")
</div>

	<script src="~/assets/js/jquery-3.2.1.min.js"></script>
	<script src="~/assets/styles/bootstrap4/popper.js"></script>
	<script src="~/assets/styles/bootstrap4/bootstrap.min.js"></script>
	<script src="~/assets/plugins/Isotope/isotope.pkgd.min.js"></script>
	<script src="~/assets/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
	<script src="~/assets/plugins/easing/easing.js"></script>
	<script src="~/assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
	<script src="~/assets/js/single_custom.js"></script>
	<script src="~/assets/js/categories_custom.js"></script>
	
	<link rel="stylesheet" type="text/css" href="~/assets/styles/main_styles.css">
	<link rel="stylesheet" type="text/css" href="~/assets/styles/responsive.css">
	
	<script src="~/assets/js/custom.js"></script>

	@await Component.InvokeAsync("Notyf");
	@await RenderSectionAsync("Scripts", required: false)





	<script>
		jQuery(function ($) {
			$('.js-menu__open').on('touchend click', function () {
				var menu = $(this).attr('data-menu');

				$(menu).toggleClass('js-menu__expanded');
				$(menu).parent().toggleClass('js-menu__expanded');

			});

			$('.js-menu__context, .js-menu__close').on('touchend click', function (event) {

				if ($(event.target).hasClass('js-menu__context') || $(event.target).hasClass('js-menu__close')) {
					$('.js-menu__expanded').removeClass('js-menu__expanded');
				}
			});

		});
	</script>
</body>

</html>

